@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:700");
.side-nav * {
  box-sizing: border-box;
}
.side-nav .hidden,
.side-nav .hidden * {
  visibility: hidden;
  pointer-events: none;
}
.side-nav .screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.side-nav .screen a {
  text-decoration: none;
  display: contents;
}
.side-nav .screen div {
  -webkit-text-size-adjust: none;
}
.side-nav .screen textarea:focus,
.side-nav .screen input:focus {
  outline: none;
}
.side-nav .smart-layers-pointers,
.side-nav .smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.side-nav:root {
  --gunsmoke: #82888e;

  --font-size-m: 24px;

  --font-family-dm_sans: "DM Sans", Helvetica;
}
.side-nav .dmsans-bold-gunsmoke-24px {
  color: var(--gunsmoke);
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

/* screen - mobile-nav-320px */

.mobile-nav-320px {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 1527px;
  min-width: 320px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.mobile-nav-320px .company-PiyUW5 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 66px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-320px .frame-68-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 100%;
}
.mobile-nav-320px .frame-69-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 216px;
  width: 100%;
}
.mobile-nav-320px .frame-70-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 320px;
  width: 100%;
}
.mobile-nav-320px .frame-71-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 100%;
}
.mobile-nav-320px .frame-72-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 528px;
  width: 100%;
}
.mobile-nav-320px .home-zNiu1U {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 38px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-320px .indicator-DMZGJ0 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-320px .indicator-DMZGJ0:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-320px .indicator-FljbKi {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-320px .indicator-FljbKi:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-320px .indicator-PiyUW5 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-320px .indicator-PiyUW5:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-320px .indicator-Qtr366 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-320px .indicator-Qtr366:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-320px .indicator-zNiu1U {
  background-color: #416ff4;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-320px .indicator-zNiu1U:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-320px .line-973-DMZGJ0 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-320px .line-973-FljbKi {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-320px .line-973-PiyUW5 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-320px .line-973-Qtr366 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-320px .line-973-zNiu1U {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-320px .login-sign-up-DMZGJ0 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 108px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-320px .mpower-FljbKi {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 60px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-320px .partners-Qtr366 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 68px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-320px .rectangle-778-C61RwL {
  background-color: #21201f;
  box-shadow: 0px 4px 4px #00000040;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.95;
  position: absolute;
  top: 0px;
  width: 100%;
}
.mobile-nav-320px .textframe-DMZGJ0 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-320px .textframe-FljbKi {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-320px .textframe-PiyUW5 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-320px .textframe-Qtr366 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-320px .textframe-zNiu1U {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-320px .vector-stroke-412M3r {
  background-color: transparent;
  height: 58.33%;
  left: 20.83%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
.mobile-nav-320px .vector-stroke-pr9M1i {
  background-color: transparent;
  height: 58.33%;
  left: 20.83%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
.mobile-nav-320px .x-C61RwL {
  background-color: transparent;
  height: 48px;
  overflow: hidden;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 48px;
}
/* screen - mobile-nav-720px */

.mobile-nav-720px {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 1527px;
  min-width: 720px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.mobile-nav-720px .company-PiyUW5 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 66px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-720px .frame-68-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 100%;
}
.mobile-nav-720px .frame-69-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 216px;
  width: 100%;
}
.mobile-nav-720px .frame-70-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 320px;
  width: 100%;
}
.mobile-nav-720px .frame-71-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 100%;
}
.mobile-nav-720px .frame-72-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 528px;
  width: 100%;
}
.mobile-nav-720px .home-zNiu1U {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-dm_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 38px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-720px .indicator-DMZGJ0 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-720px .indicator-DMZGJ0:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-720px .indicator-FljbKi {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-720px .indicator-FljbKi:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-720px .indicator-PiyUW5 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-720px .indicator-PiyUW5:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-720px .indicator-Qtr366 {
  background-color: transparent;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-720px .indicator-Qtr366:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-720px .indicator-zNiu1U {
  background-color: #416ff4;
  height: 3px;
  left: calc(50.00% - 6px);
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 72px;
  transition: all 0.3s ease;
  width: 13px;
}
.mobile-nav-720px .indicator-zNiu1U:hover {

/* home */
color: #2A2C30;

/* indicator */

position: static;
width: 13px;
height: 3px;
left: calc(50% - 13px/2);
top: 25px;

background: #416FF4;

}
.mobile-nav-720px .line-973-DMZGJ0 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-720px .line-973-FljbKi {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-720px .line-973-PiyUW5 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-720px .line-973-Qtr366 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-720px .line-973-zNiu1U {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 0%;
}
.mobile-nav-720px .login-sign-up-DMZGJ0 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 108px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-720px .mpower-FljbKi {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 60px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-720px .partners-Qtr366 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 68px);
  letter-spacing: 2.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.mobile-nav-720px .rectangle-778-C61RwL {
  background-color: #21201f;
  box-shadow: 0px 4px 4px #00000040;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.95;
  position: absolute;
  top: 0px;
  width: 100%;
}
.mobile-nav-720px .textframe-DMZGJ0 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-720px .textframe-FljbKi {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-720px .textframe-PiyUW5 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-720px .textframe-Qtr366 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-720px .textframe-zNiu1U {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 50px);
  position: absolute;
  top: 0px;
  width: 101px;
}
.mobile-nav-720px .vector-stroke-412M3r {
  background-color: transparent;
  height: 58.33%;
  left: 20.83%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
.mobile-nav-720px .vector-stroke-pr9M1i {
  background-color: transparent;
  height: 58.33%;
  left: 20.83%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
.mobile-nav-720px .x-C61RwL {
  background-color: transparent;
  height: 48px;
  overflow: hidden;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 48px;
}
@media screen and (max-width: 719px) {
  .mobile-nav-720px { 
    display: none;
   }
}
@media screen and (min-width: 720px) {
  .mobile-nav-320px { 
    display: none;
   }
}