/* screen - mpower-email-submission-end-mobile-320px */

.mpower-email-submission-end-mobile-320px {
  background-color: #0e0f10;
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.mpower-email-submission-end-mobile-320px .beta-access-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxxxxl);
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 120px);
  letter-spacing: -1.39px;
  line-height: 55px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 150px);
  white-space: nowrap;
  width: auto;
}
.mpower-email-submission-end-mobile-320px .e-mail-feild-09RRMv {
  background-color: transparent;
  height: 61.32%;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 38.68%;
  width: 100%;
}
.mpower-email-submission-end-mobile-320px .ellipse-7-5e6gJR {
  background-color: transparent;
  height: 98.83%;
  left: 1.45%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.58%;
  width: 97.09%;
}
.mpower-email-submission-end-mobile-320px .ellipse-7-6GkC6K {
  background-color: transparent;
  height: 100.33%;
  left: -0.75%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.63%;
  width: 100.19%;
}
.mpower-email-submission-end-mobile-320px .ellipse-7-GFakTx {
  background-color: transparent;
  height: 99.67%;
  left: -0.95%;
  mix-blend-mode: normal;
  position: absolute;
  top: 1.36%;
  width: 99.52%;
}
.mpower-email-submission-end-mobile-320px .ellipse-8-5e6gJR {
  background-color: transparent;
  height: 102.02%;
  left: 3.04%;
  mix-blend-mode: normal;
  position: absolute;
  top: -1.01%;
  width: 93.91%;
}
.mpower-email-submission-end-mobile-320px .ellipse-8-6GkC6K {
  background-color: transparent;
  height: 102.67%;
  left: -1.26%;
  mix-blend-mode: normal;
  position: absolute;
  top: -1.33%;
  width: 102.52%;
}
.mpower-email-submission-end-mobile-320px .ellipse-8-GFakTx {
  background-color: transparent;
  height: 107.33%;
  left: -1.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: -3.67%;
  width: 103.35%;
}
.mpower-email-submission-end-mobile-320px .enter-your-email-add-9Ntqw8 {
  background-color: transparent;
  border: 0;
  height: 15px;
  left: 18px;
  letter-spacing: -0.53px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 25px;
  width: 138px;
}
.mpower-email-submission-end-mobile-320px .enter-your-email-add-9Ntqw8::placeholder {
  color: #ffffff99;
}
.mpower-email-submission-end-mobile-320px .frame-73-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 95px;
  position: absolute;
  top: 552px;
  width: 171px;
}
.mpower-email-submission-end-mobile-320px .general-arrow-back-C70tCp {
  background-color: transparent;
  height: 24px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}
.mpower-email-submission-end-mobile-320px .group-79-ymyP2W {
  background-color: transparent;
  height: 62.73%;
  left: 26.33%;
  position: absolute;
  top: 23.60%;
  width: 17.38%;
}
.mpower-email-submission-end-mobile-320px .group-80-ymyP2W {
  background-color: transparent;
  height: 42.86%;
  left: 29.09%;
  position: absolute;
  top: 32.92%;
  width: 11.88%;
}
.mpower-email-submission-end-mobile-320px .group-81-ymyP2W {
  background-color: transparent;
  height: 26.09%;
  left: 31.33%;
  position: absolute;
  top: 40.99%;
  width: 7.23%;
}
.mpower-email-submission-end-mobile-320px .group-ymyP2W {
  background-color: transparent;
  height: 52.48%;
  left: 1.57%;
  position: absolute;
  top: 24.91%;
  width: 13.79%;
}
.mpower-email-submission-end-mobile-320px .m-powerwhite-colored-C61RwL {
  background-color: transparent;
  height: 50px;
  left: 90px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 181px;
}
.mpower-email-submission-end-mobile-320px .rectangle-645-9Ntqw8 {
  background-color: var(--white);
  border-radius: 6px;
  bottom: -1px;
  height: 67px;
  left: -1px;
  mix-blend-mode: normal;
  opacity: 0.08;
  position: absolute;
  width: calc(100.00% + 2px);
}
.mpower-email-submission-end-mobile-320px .rectangle-646-cTqFxG {
  background-color: var(--bay-of-many);
  border-radius: 6px;
  bottom: 0px;
  height: 45px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  width: 115px;
}
.mpower-email-submission-end-mobile-320px .subscribe-C61RwL {
  background-color: transparent;
  height: 106px;
  left: 16px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 305px;
  width: calc(100.00% - 32px);
}
.mpower-email-submission-end-mobile-320px .subscribe-C70tCp {
  background-color: transparent;
  height: auto;
  left: 22.81%;
  letter-spacing: -0.53px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 11px);
  width: 77.78%;
}
.mpower-email-submission-end-mobile-320px .subscribe-button-9Ntqw8 {
  background-color: transparent;
  height: 45px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 10px;
  width: 115px;
}
.mpower-email-submission-end-mobile-320px .subscribe-cTqFxG {
  background-color: transparent;
  height: auto;
  left: 11.30%;
  letter-spacing: -0.53px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  width: 79.13%;
}
.mpower-email-submission-end-mobile-320px .subscribe-to-our-newsletter-09RRMv {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: -0.53px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 253px;
}
.mpower-email-submission-end-mobile-320px .subtract-ymyP2W {
  background-color: transparent;
  height: 53.00%;
  left: 11.96%;
  mix-blend-mode: normal;
  position: absolute;
  top: 25.05%;
  width: 85.22%;
}
.mpower-email-submission-end-mobile-320px .vector-Nw2x4H {
  background-color: transparent;
  height: 102.89%;
  left: -1.18%;
  mix-blend-mode: normal;
  position: absolute;
  top: -1.44%;
  width: 102.36%;
}
.mpower-email-submission-end-mobile-320px .vector-stroke-OLYvLV {
  background-color: transparent;
  height: 8.33%;
  left: 16.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 45.83%;
  width: 66.67%;
}
.mpower-email-submission-end-mobile-320px .vector-stroke-aSzsUH {
  background-color: transparent;
  height: 66.67%;
  left: 16.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 16.67%;
  width: 37.50%;
}
