/* CUSTOM */
body [class*="navitem-default-"] {
    width: 0 !important;
    z-index: 999;
}

body [class*="navitem-default-"] [class*="textframe-"] {
    left: 0 !important;
}

body [class*="navitem-hover-"] [class*="textframe-"] {
    left: 0 !important;
}
body [class*="navitem-hover-"] [class*="indicator"] {
    display: none !important;
}
body [class*="navbar-"] {
    z-index: 99999999 !important;
}

body [class*="mobile-nav-"] {
    z-index: 9999999999 !important;
}

.email-modal {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #0e0f10f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: Montserrat;
    font-style: normal;
}
.email-modal > img {
    width: 200px;
    margin: 1rem auto;
    text-align: center;
}

.email-modal h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.386px;
    margin: 1rem auto;
}

.email-modal .label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.528px;
    margin-top: 3rem;
}

.email-modal .inline-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-modal button {
    width: 500px;
    height: 45px;
    background: #2b3990;
    border-radius: 6px;
    outline: none;
    color: white;
    box-shadow: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.528px;
    border: none;
    cursor: pointer;
    margin: 1px auto;
}

.email-modal input {
    color: #242424;
    opacity: 0.8;
    padding: 1rem;
    border: 1px solid #000000;
    width: 500px;
    margin: 1rem auto;
    border-radius: 6px;
    height: 65px;
    font-family: Montserrat;
    font-style: normal;
}
.email-modal .link-back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    cursor: pointer;
}

.email-modal .link-back > img {
    padding: 0 1rem;
}

.email-modal .link-back span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.528px;
    color: #c5c6c9;
}

@media only screen and (max-width: 600px) {
    .email-modal button {
        width: 300px;
    }

    .email-modal input {
        width: 300px;
    }
}

body [class*="home-desktop-"] .logo-C61RwL {
    left: 55% !important;
}

body [class*="home-desktop-"] .h1-VMr6Om {
    left: 55% !important;
}

body [class*="home-desktop-"] .p-C61RwL {
    left: 55% !important;
}

body [class*="home-desktop-"] .bullet01-C61RwL {
    left: 55% !important;
}

body [class*="home-desktop-"] .bullet02-C61RwL {
    left: 55% !important;
}

.home-desktop-1024px .h1-VMr6Om {
    width: 470px;
}

.home-desktop-1024px .p-C61RwL {
    width: 470px;
}

.home-desktop-1024px .bullet01-C61RwL {
    width: 470px;
}

.home-desktop-1024px .bullet02-C61RwL {
    width: 470px;
}

.home-desktop-1440px .h1-VMr6Om {
    width: 670px;
}

.home-desktop-1440px .p-C61RwL {
    width: 670px;
}

.home-desktop-1440px .bullet01-C61RwL {
    width: 670px;
}

.home-desktop-1440px .bullet02-C61RwL {
    width: 670px;
}

.home-desktop-1024px .imgframe-C61RwL {
    width: calc(100% - 700px);
}

.home-desktop-1440px .imgframe-C61RwL {
    width: calc(100% - 55%);
}

.home-desktop-1024px .group-581-C61RwL {
    right: 60%;
}
.home-desktop-1024px .group-583-C61RwL {
    left: 60%;
}

.home-desktop-1440px .frame-56-C61RwL {
    left: auto;
    right: 10%;
}

.home-desktop-1440px .frame-57-C61RwL {
    left: 10%;
}

body [class*="mpower-dekstop-"] .contentsection-zxGWQX,
.mpower-home-dekstop-1440px .contentsection-zxGWQX {
    left: 50%;
    right: 50%;
    margin-left: -580px;
}

body [class*="mpower-dekstop-"] .featuregroup-zxGWQX,
.mpower-home-dekstop-1440px .featuregroup-zxGWQX {
    left: 50%;
    right: 50%;
    margin-left: -580px;
}

.mpower-desktop-1024px .contentsection-jCBd0u,
.mpower-desktop-1024px .featuregroup-jCBd0u {
    left: 50%;
    right: 50%;
    margin-left: -448px;
}

/* COMPANY */

.company-desktop-1440px .image-6-OvIgOz {
    left: calc(50% - -180px);
}

.company-desktop-1024px .image-6-OvIgOz {
    left: calc(50% - -160px);
}

/* PARTNERS */

body [class*="partnerships-desktop-"] .m2-n-is-buildin-m-powerplatform-lF35ZC {
    width: 400px;
}

.partnerships-desktop-1440px .frame-6-zMcl5Z {
    width: 500px;
    left: auto;
    right: 15%;
}

.partnerships-desktop-1440px .frame-5-zMcl5Z {
    width: 500px;
    left: 15%;
}

.partnerships-desktop-1024px .frame-6-zMcl5Z {
    width: 450px;
    left: auto;
    right: 5%;
}

.partnerships-desktop-1024px .frame-5-zMcl5Z {
    width: 450px;
    left: 5%;
}

.partnerships-tablet-720px .icarrow-HnucbF,
.partnerships-tablet-720px .icarrow-vFmZQx {
    left: 60%;
}

.partnerships-mobile-320px .icarrow-HnucbF,
.partnerships-mobile-320px .icarrow-vFmZQx {
    left: 70%;
}

/* CONTANCT US */

body [class*="contact-desktop-"] .contactusify-thinafewdays-isdgOW {
    width: 400px;
}

body [class*="contact-"] .field-WrgBsB {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #95a0ae;
    padding: 1rem;
}

body [class*="contact-"] .field-WrgBsB::placeholder {
    color: #95a0ae;
}

body [class*="contact-"] .field-lbdXRk {
    left: auto;
    right: 0;
    width: 49%;
}

body [class*="contact-"] .field-YswxU4 {
    width: 49%;
}

.mpower-mobile-320px .contentsection-ZOxzMY,
.mpower-mobile-320px .featuregroup-ZOxzMY {
    left: calc(50% - 147px);
}

.mpower-tablet-720px .contentsection-C61RwL,
.mpower-tablet-720px .featuregroup-C61RwL {
    left: calc(50% - 296px);
}

.mpower-mobile-320px .button-x5Sopb {
    right: calc(50% - 115px);
    top: 380px;
}

.mpower-tablet-720px .button-x5Sopb {
    right: calc(50% - 255px);
}

/* MOBILE NAV */

body [class*="mobile-nav"] .mpower-FljbKi {
    left: calc(50% - 50px);
}

body [class*="mobile-nav"] .mpower-FljbKi,
body [class*="mobile-nav"] .company-PiyUW5 {
    left: calc(50% - 52px);
}

body [class*="mobile-nav"] .partners-Qtr366 {
    left: calc(50% - 54px);
}

body [class*="mobile-nav"] .login-sign-up-DMZGJ0 {
    left: calc(50% - 78px);
}

/* MPOWER APPS */

body [class*="mpower-landing-desktop"] .image-C61RwL {
    right: auto;
    left: 20%;
}

body [class*="mpower-landing-desktop"] .land-your-dream-job-C61RwL {
    left: auto;
    right: 380px;
}
body [class*="mpower-landing-desktop"] .list-C61RwL,
body [class*="mpower-landing-desktop"] .list-VMr6Om,
body [class*="mpower-landing-desktop"] .list-mzXdH9 {
    left: auto;
    right: 5%;
    width: 500px;
}

.mpower-landing-desktop-1024px .image-C61RwL {
    height: 320px;
    width: 388px;
    top: 1351px;
}

body [class*="mpower-landing-desktop"] .list-QxM5SU,
body [class*="mpower-landing-desktop"] .list-2P4qUJ,
body [class*="mpower-landing-desktop"] .list-qr8e7q {
    width: 500px;
    left: 5%;
}

body [class*="mpower-landing-desktop"] .image-VMr6Om {
    left: auto;
    right: 20%;
}

.mpower-landing-desktop-1024px .image-VMr6Om {
    height: 320px;
    width: 388px;
    top: 2091px;
}

.mpower-landing-desktop-1024px .block-1-VMr6Om {
    left: 677px;
    top: 3414px;
    width: calc(100.00% - 742px);
}

/* body [class*="mpower-landing-desktop"] .block-1-C61RwL,
body [class*="mpower-landing-desktop"] .blocks-l-C61RwL,
body [class*="mpower-landing-desktop"] .blocks-l-VMr6Om,
body [class*="mpower-landing-desktop"] .blocks-r-C61RwL,
body [class*="mpower-landing-desktop"] .blocks-r-VMr6Om,
body [class*="mpower-landing-desktop"] .block-1-VMr6Om {
    height: 250px !important;
} */


.mpower-landing-desktop-1440px .block-1-C61RwL,
.mpower-landing-desktop-1440px .blocks-l-C61RwL,
.mpower-landing-desktop-1440px .blocks-l-VMr6Om,
.mpower-landing-desktop-1440px .blocks-r-C61RwL,
.mpower-landing-desktop-1440px .blocks-r-VMr6Om,
.mpower-landing-desktop-1440px .block-1-VMr6Om,
.mpower-landing-desktop-1440px .block-1-VMr6Om {
    width: 500px !important;
}

.mpower-landing-desktop-1024px .block-1-C61RwL,
.mpower-landing-desktop-1024px .blocks-l-C61RwL,
.mpower-landing-desktop-1024px .blocks-l-VMr6Om,
.mpower-landing-desktop-1024px .blocks-r-C61RwL,
.mpower-landing-desktop-1024px .blocks-r-VMr6Om,
.mpower-landing-desktop-1024px .block-1-VMr6Om,
.mpower-landing-desktop-1024px .block-1-VMr6Om {
    width: 280px !important;
}

.mpower-landing-desktop-1440px .block-1-C61RwL,
.mpower-landing-desktop-1440px .blocks-l-C61RwL,
.mpower-landing-desktop-1440px .blocks-l-VMr6Om {
    position: absolute;
    right: auto !important;
    left: 50% !important;
    margin-left: -700px;
}

.mpower-landing-desktop-1440px .blocks-r-C61RwL,
.mpower-landing-desktop-1440px .blocks-r-VMr6Om,
.mpower-landing-desktop-1440px .block-1-VMr6Om,
.mpower-landing-desktop-1440px .block-1-VMr6Om {
    position: absolute;
    right: 50% !important;
    left: auto !important;
    margin-right: -700px;
}

.mpower-landing-desktop-1440px .mockups-C61RwL {
    position: absolute;
    right: 50% !important;
    left: 50% !important;
    margin-left: -190px;
}

.mpower-landing-desktop-1024px .block-1-C61RwL,
.mpower-landing-desktop-1024px .blocks-l-C61RwL,
.mpower-landing-desktop-1024px .blocks-l-VMr6Om {
    position: absolute;
    right: auto !important;
    left: 50% !important;
    margin-left: -480px;
}

.mpower-landing-desktop-1024px .blocks-r-C61RwL,
.mpower-landing-desktop-1024px .blocks-r-VMr6Om,
.mpower-landing-desktop-1024px .block-1-VMr6Om,
.mpower-landing-desktop-1024px .block-1-VMr6Om {
    position: absolute;
    right: 50% !important;
    left: auto !important;
    margin-right: -480px;
}

.mpower-landing-desktop-1024px .mockups-C61RwL {
    position: absolute;
    right: 50% !important;
    left: 50% !important;
    margin-left: -190px;
}


/* body [class*="mpower-landing-desktop"] .block-1-C61RwL > div,
body [class*="mpower-landing-desktop"] .blocks-l-C61RwL > div,
body [class*="mpower-landing-desktop"] .blocks-l-VMr6Om > div,
body [class*="mpower-landing-desktop"] .blocks-r-C61RwL > div,
body [class*="mpower-landing-desktop"] .blocks-r-VMr6Om > div,
body [class*="mpower-landing-desktop"] .block-1-VMr6Om  > div {
    height: 250px !important;
} */

/* .mpower-landing-desktop-1024px .mockups-C61RwL {
    display: none;
}

.mpower-landing-desktop-1440px .mockups-C61RwL {
    display: none;
} */

.mpower-landing-desktop-1024px .blocks-l-C61RwL {
    top: 3087px;
}

.mpower-landing-desktop-1024px .blocks-l-VMr6Om {
    top: 3391px;
}

.mpower-landing-desktop-1440px .block-1-VMr6Om {
    left: 906px;
    width: calc(100.00% - 1114px);
}

.mobile-nav-320px .home-zNiu1U,
.mobile-nav-720px .home-zNiu1U {
    color: #81878e;
}

.mpower-landing-desktop-1440px .leverage-agile-frame-X8fKCS,
.mpower-landing-desktop-1440px .leverage-agile-frame-0pQ7Fi {
    width: 500px;
}

.mpower-landing-desktop-1440px .img-X8fKCS {
    left: auto;
    right: calc(50% - 600px);
}

.mpower-landing-desktop-1024px .mockups-1-ql3H8Z {
    background-color: transparent;
    height: 503px;
    left: auto;
    mix-blend-mode: normal;
    -o-object-fit: cover;
    /* object-fit: cover; */
    position: absolute;
    top: 50px;
    right: 10px;
    width: auto;
}


/* Nav custom */
.mpower-home-dekstop-1440px .home-i63817129691129683-jxM0bb,
.home-desktop-1440px .b1-jxM0bb,
.company-desktop-1440px .b1-jxM0bb,
.partnerships-desktop-1440px .b1-jxM0bb,
.contact-desktop-1440px .b1-jxM0bb {
    color: #82888e;
}

.mpower-landing-desktop-1024px .rectangle-759-mmqPLj {
    top: -23px;
}

.mpower-landing-desktop-1024px .more-mmqPLj {
    top: -5px;
}

.mpower-landing-desktop-1440px .block-1-VMr6Om {
    top: 3345px;
}

.mpower-landing-desktop-1440px .group-589-5cD2NF {
    top: 3325px;
    left: calc(50.00% - -230px);
}